<template name="DataItem">



    
<!-- 
    STYLE FOR DISPLAYING THE FULL SCREEN ITEM
-->
    <div class="dataBlock preview" id="pOne">
        <div class="dataNameRow col-xs-8">
            <div class="dataName">
                First Data Block
            </div>
            <div class="dataChangeHint">
                % or +- Diff
            </div>
            <div class="dataTimeHint">
                timeinterval
            </div>
        </div>
        <div class="dataGraphPrev col-xs-4">
            <div class="ct-chart ct-minor-second" id="prevChartOneP"></div>
        </div>
        <div class="dataNav col-xs-4">Nav
        </div>
        <div class="dataGraphFull col-xs-12">
            <div class="ct-chart ct-golden-section" id="prevChartOneF"></div>
        </div>
        <div class="dataCurrent col-xs-6">
            Current
        </div>
        <div class="dataPrevious col-xs-6">
            Previous
        </div>
        <div class="dataCurrCount col-xs-6">
            curr Count
        </div>
        <div class="dataPrevCount col-xs-6">
            prev Count
        </div>
        <div class="dataPercDiff col-xs-6">
            % diff
        </div>
        <div class="dataPMDiff col-xs-6">
            +/- diff
        </div>
    </div>
    

    <div class="dataBlock preview" id="pTwo">
        <div class="dataNameRow col-xs-8">
            <div class="dataName">
                Second Data Block
            </div>
            <div class="dataChangeHint">
                % or +- Diff
            </div>
            <div class="dataTimeHint">
                timeinterval
            </div>
        </div>
        <div class="dataGraphPrev col-xs-4">GRAPH GOES HERE
        </div>
        <div class="dataNav col-xs-4">Nav
        </div>
        <div class="dataGraphFull col-xs-12">
            Full chart       two two two
        </div>
        <div class="dataCurrent col-xs-6">
            Current
        </div>
        <div class="dataPrevious col-xs-6">
            Previous
        </div>
        <div class="dataCurrCount col-xs-6">
            curr Count
        </div>
        <div class="dataPrevCount col-xs-6">
            prev Count
        </div>
        <div class="dataPercDiff col-xs-6">
            % diff
        </div>
        <div class="dataPMDiff col-xs-6">
            +/- diff
        </div>
    </div>
    
<!--
    <div class="dataBlock preview" id="pThree">
        <div class="dataNameRow col-xs-8">
            <div class="dataName">
                Third Data Block
            </div>
            <div class="dataChangeHint">
                % or +- Diff
            </div>
            <div class="dataTimeHint">
                timeinterval
            </div>
        </div>
        <div class="dataGraphPrev col-xs-4">GRAPH GOES HERE
        </div>
        <div class="dataNav col-xs-4">Nav
        </div>
        <div class="dataGraphFull col-xs-12">
            Full chart       three three three
        </div>
        <div class="dataCurrent col-xs-6">
            Current
        </div>
        <div class="dataPrevious col-xs-6">
            Previous
        </div>
        <div class="dataCurrCount col-xs-6">
            curr Count
        </div>
        <div class="dataPrevCount col-xs-6">
            prev Count
        </div>
        <div class="dataPercDiff col-xs-6">
            % diff
        </div>
        <div class="dataPMDiff col-xs-6">
            +/- diff
        </div>
    </div>
    
    <div class="dataBlock preview" id="pFour">
        <div class="dataNameRow col-xs-8">
            <div class="dataName">
                DATANAME
            </div>
            <div class="dataChangeHint">
                % or +- Diff
            </div>
            <div class="dataTimeHint">
                timeinterval
            </div>
        </div>
        <div class="dataGraphPrev col-xs-4">GRAPH GOES HERE
        </div>
        <div class="dataNav col-xs-4">Nav
        </div>
        <div class="dataGraphFull col-xs-12">
            Full chart       four four four
        </div>
        <div class="dataCurrent col-xs-6">
            Current
        </div>
        <div class="dataPrevious col-xs-6">
            Previous
        </div>
        <div class="dataCurrCount col-xs-6">
            curr Count
        </div>
        <div class="dataPrevCount col-xs-6">
            prev Count
        </div>
        <div class="dataPercDiff col-xs-6">
            % diff
        </div>
        <div class="dataPMDiff col-xs-6">
            +/- diff
        </div>
    </div>
    
    <div class="dataBlock preview" id="pFive">
        <div class="dataNameRow col-xs-8">
            <div class="dataName">
                DATANAME
            </div>
            <div class="dataChangeHint">
                % or +- Diff
            </div>
            <div class="dataTimeHint">
                timeinterval
            </div>
        </div>
        <div class="dataGraphPrev col-xs-4">GRAPH GOES HERE
        </div>
        <div class="dataNav col-xs-4">Nav
        </div>
        <div class="dataGraphFull col-xs-12">
            Full chart       five five five
        </div>
        <div class="dataCurrent col-xs-6">
            Current
        </div>
        <div class="dataPrevious col-xs-6">
            Previous
        </div>
        <div class="dataCurrCount col-xs-6">
            curr Count
        </div>
        <div class="dataPrevCount col-xs-6">
            prev Count
        </div>
        <div class="dataPercDiff col-xs-6">
            % diff
        </div>
        <div class="dataPMDiff col-xs-6">
            +/- diff
        </div>
    </div>
-->

    
</template>