<template name="cPicker">
    <option>{{friendlyName}}</option>
<!--    <li><a href="#">{{friendlyName}}</a></li>-->
</template>

<template name="dPicker">
    <option>{{dateOf}}</option>
<!--    <li><a href="#">{{dateOf}}</a></li>-->
</template>

<template name="Home">
    <div class="row timeChoose">
        <div class="col-xs-6">
            <select class="form-control" id="clientPicker">
                  {{#each dbClients}}
                      {{> cPicker}}
                  {{/each}}
            </select>
    
        </div>
        <div class="col-xs-6">
            <select class="form-control" id="datePicker">
                  {{#each dbDates}}
                      {{> dPicker}}
                  {{/each}}
            </select>
        </div>
    </div>
    
    <div class="row">
        {{> DataItem}}
    </div>
    
    
    <div class="ct-chart ct-golden-section" id="volumeLine"></div>
    
</template>