.container {
  height: 100%;
}

.kitten {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.kittenOne {
    background-color: #3e3e3e;
}

.kittenTwo {
    background:#6a6a6a;
    overflow:hidden;
}

.kittenThree {
    background-color: #3e3e3e;
}

.kittenFour {
    background-image:url(http://placekitten.com/800/600?image=1);
}

.box {
    position:absolute;
    left:0;
    height:100%;
    background:#09f;
}

.two {
    position:absolute;
    left:0;
    height:100%;
    background:#ff00ba;
}

/* demo scrolling 1 */

.Roadmap
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:400px;
    width:100%;
    padding: 0 15px;
    position: relative;
    top: 20px;
}

.RoadmapItem
{
    border:1px solid black;
    padding:0;
    height:200px;
}

.list-inline {
  white-space:nowrap;
}
/* end */

 #wrap > .container {
    padding: 60px 15px 0;
}


.container {
width:100%;
}
    
#main-content{
    min-height: 100%;
    height: 100%; 
/*    overflow-x: hidden;*/
   
}
    
#main-content > .scrollRow {
/*    overflow-x:scroll !important;*/
    overflow-y:hidden !important;
    white-space:nowrap;
    min-height: 100%;
    height: 99%;
    }
    
    #main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"], #main-content > .row [class*="col-xs"] {
    float:none;
    display:inline-block;
    height: 100%;
}
    

    #main-content > .row [class*="col-lg"]:not(:first-child), #main-content > .row [class*="col-md"]:not(:first-child), #main-content > .row [class*="col-sm"]:not(:first-child), #main-content > .row [class*="col-xs"]:not(:first-child) {
    margin-left: -5px;
    border-left: 1px dashed #6c6c6c;

}


.roadmapRow {
    height: 5%;
/*    background-color: rgba(237, 237, 237, 0.76);*/
}


.roadmapRow > div {
    display: flex !important;
    align-items: center !important;
    padding: 0;
}

@media (min-height: 630px) {
.roadmapItem {
    padding: 6px;
    font-size: 1.3em;
    font-weight: 100;
    text-transform: none;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
}
}

@media (max-height: 630px) {
    .roadmapItem {
        padding: .1em;
        font-size: 1.3em;
        font-weight: 100;
        text-transform: none;
        border-radius: 3px;
        position: absolute;
        z-index: 1;
        color: white;
        text-align: center;
    }
}

.columnHeader {
    width: 100%;
    font-size: 2em;
    color: #6c6c6c;
}

.threeQuarters {
    width: 300%;
}

.twoQuarters {
    width: 200%;
}

.twoAndHalfQuarters {
    width: 250%;  
}

.oneQuarter {
    width: 100%;
}

.oneAndHalfQuarter {
    width: 150%;
    
}

.startHalf {
    margin-left: 50%;
}

.people {
    background-color: #27bafc;
}

.process {
    background-color: #fc9127;
}

.technology {
    background-color: #44e08c;
}

.content {
    background-color: #8127fc;
}

.titleContainer {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.titleImg {
    width: 120%;
    position: relative;
    left: -10%;
    padding-bottom: 2vh;
    border-bottom: 2px solid white;
}

.titleContent {
    display: inline-block;
    width: 40%;
}

.titleText {
    position: relative;
    left: -10%;
    width: 100%;
    color: #fff;
    font-size: 4vw;
    margin-top: 2vh;
    text-align: left;
}


.nicescroll-rails-vr {
    width: 0px !important;
    overflow: hidden;
}
