<template name="Home">
            
    <div class="kitten kittenOne" data-0="transform:translate(0,0%);" data-100p="transform:translate(0,-100%);">
        <div class="titleContainer">
            <div class="titleContent">
                <img class="titleImg" src="images/logo_768.png">
            <p class="titleText">Digital<br> Transformation<br> Roadmap</p>
            </div>
            
        </div>
    </div>

	<div class="kitten kittenTwo" data-0="transform:translate(0,100%);" data-100p="transform:translate(0,0%)" data-_box-100p="" data-_box-200p="transform:translate(0,-100%)">

		<div class="box" data-100p="width:0%;" data-_box-100p="width:40%"></div>
	</div>

	<div class="kitten kittenThree" data-_box-100p="transform:translate(0,100%);" data-_box-200p="transform:translate(0,0%);" data-_box-300p="transform:translate(0,-100%);">
        
        <div class="container" id="main-content">
        <div class="row scrollRow">
            
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q1
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem twoAndHalfQuarters technology">
                            Remote Workforce
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem startHalf oneAndHalfQuarter technology">
                            LMS
                        </div>
                    </div>
                </div>
                
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q2
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem startHalf oneAndHalfQuarter people">
                            Office Vibe
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem startHalf twoAndHalfQuarter people">
                            Workforce Management Tool
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem twoQuarters process">
                            Chat Support
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem oneAndHalfQuarter technology">
                            Cloud Backup
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem oneAndHalfQuarter technology">
                            Power BI
                        </div>
                    </div>
                </div>
               <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem startHalf twoAndHalfQuarters content">
                            Vitalyst App - Reporting
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q3
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem startHalf oneQuarter people">
                            Skill Search
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem oneAndHalfQuarter process">
                            SFDC | Sales & Pricing
                        </div>

                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem oneAndHalfQuarter process">
                            SFDC | Contract MGMT
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q4
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem startHalf oneAndHalfQuarter process">
                            Vitalyst App - MetaData
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem oneQuarter content">
                            Survey Platform
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem oneQuarter content">
                            Digital Assessment Tool
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q1
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters people">
                            Persistent Chat
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters process">
                            SFDC | Account MGMT
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters technology">
                            Office 365 Migration
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters content">
                            Vitalyst Digital University
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters content">
                            CMS Platform
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q2
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem startHalf oneAndHalfQuarter people">
                            Digital Assistant
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters process">
                            Voice Analytics
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem startHalf oneAndHalfQuarter technology">
                            SSO
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem startHalf oneAndHalfQuarter process">
                            Delve
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem threeQuarters technology">
                            EFO Replacement
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters content">
                            Vitalyst App - Support Channel
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters content">
                            Digital Marketing
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem oneAndHalfQuarter process">
                            Tinder for Talent
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q3
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters people">
                            Social Intranet
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters process">
                            Service Accelerators
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters process">
                            IoT Support
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem twoQuarters content">
                            Affinity Program
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q4
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="roadmapItem oneQuarter technology">
                            Surface Hub
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q1
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q2
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q3
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
           <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="roadmapItem columnHeader">
                            Q4
                        </div>
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
                <div class="row roadmapRow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         
                    </div>
                </div>
            </div>
  
        </div>
    </div>

        
    </div>
    
    <div class="kitten kittenFour" data-_box-200p="transform:translate(0,100%);" data-_box-300p="transform:translate(0,0%);" data-_box-400p="transform:translate(0,-100%);"></div>
    
    <div class="kitten kittenTwo" data-_box-300p="transform:translate(0,100%);" data-_box-400p="transform:translate(0,0%);" data-_two-400p="" data-_two-500p="transform:translate(0,-100%);">
        <div class="box" data-_box-400p="width:0%;" data-_two-400p="width:40%"></div>
    </div>
    
    
    <div class="kitten kittenThree" data-_two-400p="transform:translate(0,100%);" data-_two-500p="transform:translate(0,0%);"></div>
<!--    <div class="kitten kittenThree" data-_box-400p="transform:translate(0,100%);" data-_box-500p="transform:translate(0,0%);" data-_box-600p="transform:translate(0,-100%);"></div>-->
    
</template>